.project-slider {
  width: calc(100vw - 160px);
  margin-left: 160px;
  height: unset;
}

.project-page {
  height: 100vh;
}


/* width */
.project-slider::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.project-slider::-webkit-scrollbar-track {
  background: #1a202c; 
  border-radius: 10px;
}

/* Handle */
.project-slider::-webkit-scrollbar-thumb {
  background: #e2e8f0; 
  border-radius: 10px;
}

/* Handle on hover */
.project-slider::-webkit-scrollbar-thumb:hover {
  background: #d4d9e0; 
}

@media screen and (max-width: 640px) {
  .project-slider {
    width: 100vw;
    margin-left: 0;
  }  
}