.logo {
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 3.5rem;
}

.logo-container {
  text-align: center;
}

.nav-item {
  font-family: 'Montserrat', sans-serif;
  border-left: 8px solid transparent;
  width: 120px;
  text-align: center;
}

.nav-item:hover {
  border-left: 8px solid #f7fafc;
}

nav {
  height: 100vh;
  padding: 18rem 0;
  padding-left: 1rem;
}

@media screen and (max-width: 640px) {
  nav {
    padding: 50px 0 0 0;
    padding-left: 0;
    height: unset;
  }
  .nav-item {
    border-left: 0px;
    border-bottom: 4px solid transparent;
    width: unset;
    padding: 0 10px;
  }

  .nav-item:hover {
    border-left: 0px;
    border-bottom: 4px solid #f7fafc;
  }
}