.logo {
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 3.5rem;
}

.logo-container {
  text-align: center;
}

.nav-item {
  font-family: 'Montserrat', sans-serif;
  border-left: 8px solid transparent;
  width: 120px;
  text-align: center;
}

.nav-item:hover {
  border-left: 8px solid #f7fafc;
}

nav {
  height: 100vh;
  padding: 18rem 0;
  padding-left: 1rem;
}