.about-content {
  width: calc(100vw - 160px);
  margin-left: 160px;
  height: 100vh;
}

.about-text {
  width: 70%;
  font-family: 'Muli', sans-serif;
}

.picture-me {
  height: 250px;
  width: 250px;
}