.about-content {
  width: calc(100vw - 160px);
  margin-left: 160px;
  height: 100vh;
}

.about-page {
  bottom: 10px;
}

.skills {
  font-family: 'Muli', sans-serif;
  font-weight: 800;
}

.about-text {
  width: 70%;
  font-family: 'Muli', sans-serif;
}

.picture-me {
  height: 200px;
}

@media screen and (max-width: 840px) {
  .picture-me {
    height: 150px;
  }
}

@media screen and (max-width: 640px) {
  .about-content {
    width: 100%;
    margin-left: 0;
  }
}