.home-background {
  background-image: url("../../images/homepage.jpg");
  background-color: #333;
  height: 100vh;
  min-width: 100%;
  background-attachment: fixed;
  background-size: cover;
}

.project-background {
  background-image: url("../../images/projectpage.jpg");
  background-color: #333;
  height: 100vh;
  min-width: 100%;
  background-attachment: fixed;
  background-size: cover;
}

.about-background {
  background-image: url("../../images/aboutpage.jpg");
  background-color: #333;
  height: 100vh;
  background-attachment: fixed;
  min-width: 100%;
  background-size: cover;
}

.contact-background {
  background-image: url("../../images/contactpage.jpg");
  background-color: #333;
  height: 100vh;
  min-width: 100%;
  background-attachment: fixed;
  background-size: cover;
}